/build
/.idea
/.gradle
/gradle.properties
/JrdFileManager.iml
/README.md
/app/build
/app/app.iml
/test
/local.properties
*.iml
*~
/?
gradle/
gradlew
gradlew.bat
/document
/buglist.txt
/string_info.txt
/settings.gradle
/proguard.cfg
captures/
projectFilesBackup/
